*,*::before, *::after{
  box-sizing: border-box;
  margin: 0%;
}
header {
  background-color: #f0fff0;
  /* height: 576px; */
  
}
.logo {
  width: 50%;
}
/* .nav-element {
  margin: 0px 20px;
  font-weight: bold;
} */
.sing-in-button {
  color: white;
  background: #21b573;
  width: 90px;
  height: 40px;
  border-radius: 33px;
  border: none;
}
.header-content {
  padding: 100px 0px;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.large-text {
  font-weight: bold;
}
.color-text1 {
  color: #fd511a;
}
.color-text2 {
  color: #21b573;
}
.color-text3 {
  color: #6c6b6b;
}
.get-started-button {
  color: white;
  width: 110px;
  height: 43px;
  border: none;
  background: #21b573;
  border-radius: 33px;
}
.header-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-logo {
  width: 40%;
  margin: 30px;
}
.single-card {
  border-radius: 20px;
  background-color: #f8fffb;
  transition: 0.5s all;
}
.single-card:hover {
  background-color: white;
  box-shadow: 0 0 10px 5px silver;
}
.course-card{
  border-radius: 20px;
  transition: 0.5s all;
}
.course-card:hover {
  box-shadow: 0 0 10px 5px silver;
}
.courses-img {
  padding: 15px;
}
.courses-text {
  padding: 15px;
}
.card-footer-img {
  /* border: 1px solid red; */
  width: 20%;
}
.footer-text {
  font-size: 10px;
  margin-left: 10px;
  /* border: 1px solid red; */
}
.testimonial-img {
  width: 100%;
}
@media only screen and (max-width:767px){
  .testimonial-text {
    padding:30px;
  }
  .ft-text{
    padding: 40px 0px;
    text-align: center;
  }
  .get-started-button {
  color: white;
  width: 80px;
  height: 30px;
  border: none;
  background: #21b573;
  border-radius: 33px;
  font-size: 10px;
}
}
footer {
  width: 100%;
  color: aliceblue;
  background-color: rgb(48, 43, 43);
  /* margin-top: 50px !important; */
  border: 1px solid black;
  /* overflow-x: hidden; */
}
